<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ChartJS Line Graph</title>
  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
      Upload XLSX file: 
      <input type="file" name="data_file"/><br/>
      <input type="submit" value="Upload File"/>
  </form><br/>
  <canvas id="linechart" width="300" height="100"></canvas>
</body>
<script>
  var linechart = document.getElementById("linechart");
  
  Chart.defaults.font.family = "Courier";
  Chart.defaults.font.size = 14;
  Chart.defaults.color = "black";  

  new Chart(linechart,{
      type: 'line',
      options: {
          scales: {
            y: {
              beginAtZero: true,
              title: {
                display: true,
                text: 'Mean HPI'
              }
            },
            x: {
              offset: true,
              title: {
                display: true,
                text: 'Countries with HPI'
              }
            }
          }
      },
      data: {
          borderWidth: 1,
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets: [{
              fill : true,
              barPercentage: 0.5,
              barThickness: 20,
              maxBarThickness: 70,
              borderWidth : 1,
              minBarLength: 5,
              backgroundColor: "rgba(230,112,16,0.88)",
              borderColor : "rgba(38,22,6,0.88)",
              label: 'Mean HPI values',
              data : [
                {% for item in values %}
                  "{{ item }}",
                  {% endfor %}
              ]
            }]
        }
      });
</script>
</html>