<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Shipping</title>
        <link rel="stylesheet" href="{{ url_for('shipping_bp.static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{ url_for('shipping_bp.static', filename='css/bootstrap.min.css')}}">
        <script src="{{ url_for('shipping_bp.static', filename='js/jquery-3.6.4.js') }}"></script>
        <script src="{{ url_for('shipping_bp.static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body>
        
<section class="position-relative py-4 py-xl-5">
    <div class="container position-relative">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-3">Shipping Information</h2>
                <p class="w-lg-50"><strong><em>{{ session['username']}}</em></strong> is logged in.</p>  
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                       
                        <form action = "{{ request.path }}" method = "post">
                            <div class="mb-3"><select class="form-control" name="pay_id">
                                {% for p in payments%}
                                 <option value="{{p[0]}}">{{p[1]}}</option>
                                {% endfor %}
                            </select></div>
                            <div class="mb-3"><select class="form-control" name="cid">
                                {% for c in customers%}
                                 <option value="{{c[0]}}">{{c[1]}}</option>
                                {% endfor %}
                            </select></div>
                            <div class="mb-3"><select class="form-control" name="did">
                                {% for d in deliveryofficers%}
                                 <option value="{{d[0]}}">{{d[1]}}</option>
                                {% endfor %}
                            </select></div>
                            <div class="mb-3"><input class="form-control" type="number" step=".01" name="amount" placeholder="Amount" /></div>
                            <div class="mb-3"><select class="form-control" name="status">
                                <option value="active">Pending</option>
                                <option value="inactive">On Delivery</option>
                                <option value="inactive">Closed</option>
                                <option value="inactive">Warning</option>
                                <option value="inactive">Problematic</option>
                            </select></div>
                            <div class="mb-3"><input class="form-control" type="date" name="date_shipping"/></div>
                            <div class="mb-3"><button class="btn btn-info font-weight-bold d-block w-100" type="submit">Add Shipping</button></div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
    </body>
</html>

